<p>Well we're movin' on up, to the east side. To a deluxe apartment in the sky. Movin' on up, To the east side. We finally got a piece of the pie. Fish don't fry in the kitchen, beans don't burn on the grill. Took a whole lotta tryin' just to get up that hill. Now we're up in the big leagues, gettin' our turn at bat. As long as we live, it's you and me baby, There ain't nothin' wrong with that. Well we're movin' on up, to the east side. To a deluxe apartment in the sky. Movin' on up, to the east side. We finally got a piece of the pie.</p>

<p>Weebles wobble but they don't fall down. Weebles are around, don't fall down! Weeble wobble, Weeble wobble, Weeble wobble, Weeble wobble, Weeble wobble, Weeble wobble. Don't fall down!</p>

<p>Space, the final frontier. These are the voyages of the starship Enterprise. Its five year mission: to explore strange new worlds, to seek out new life and new civilizations, to boldly go where no man has gone before!</p>
