<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CRM - <%= @title %></title>
</head>
<body>
	<header>
		<nav>
		</nav>
	</header>

	<main>
		<%= yield %>
	</main>

	<footer>
	</footer>
</body>
</html>