<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CRM - <%= @title %></title>

	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<header class="main-header main-header-footer header-footer-main-tags">
		<h1 class="main-header-title"><a href="/">CMS</a></h1>

		<form action="/contacts/search_result" method="get" class="search-banner-forum main-header-search-menu">
			<label for="contact-search-box">Search</label>
			<input type="text" id="contact-search-box" name="search" placeholder="Search For Name, Email &amp; Notes" class="search-banner">
		</form>

		<nav class="main-header-menu main-header-search-menu">
			<h2 hidden>Main Menu</h2>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/contacts">View all contacts</a></li>
				<li><a href="/contacts/new">Add contacts</a></li>
			</ul>
		</nav>

		<div class="clear"></div>
	</header>

	<main class="header-footer-main-tags">
		<section>
			<h2 class="section-title"><%= @title %></h2>

			<%= yield %>
		</section>
	</main>

	<footer class="main-footer main-header-footer header-footer-main-tags">
		<label>Bitmaker Labs &copy; 2015</label>
	</footer>
</body>
</html>