<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CRM - <%= @title %></title>

	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<header>
		<h1><%= @title %></h1>

		<nav>
			<h2>Main Menu</h2>
			<ul>
				<li><a href="/">Main menu</a></li>
				<li><a href="/contacts">View all contacts</a></li>
				<li><a href="/contacts/new">Add contacts</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<%= yield %>
	</main>

	<footer>
		<label>Bitmaker Labs &copy; 2015</label>
	</footer>
</body>
</html>