<form action="/contacts" method="post">
	<input type="text" name="first_name" placeholder="First Name">
	<br><br>
	<input type="text" name="last_name" placeholder="Last Name">
	<br><br>
	<input type="text" name="email" placeholder="Email">
	<br><br>
	<textarea name="note" placeholder="Note"></textarea>
	<br><br>
	<input type="submit" name="Submit">
</form>