body {
	margin: 0;
	padding: 0;
}

a {
	color: #FFF;
	text-decoration: none;
}

a:hover {
	color: #dadde1;
	text-decoration: underline;
}

textarea {
	width: 393px;
	height: 80px;
	font-size: 16px;
}

input {
	width: 200px;
	margin-left: 16px;
	height: 40px;
	font-size: 16px;
}

.clear {
	clear: both;
}

.btn {
	font-size: 20px;
	padding: 10px 0;
	margin-right: 14px;
	border: 0;
	border-radius: 13px;
	width: 48%;
}

/*

	Layout

*/

.main-header-footer, .btn {
	background-color: #7b097d;
	color: #FFF;
}

.header-footer-main-tags {
	padding: 25px 15px;
}

.main-header {
	padding: 0 15px;
}

.main-header-title,
.main-header-menu,
.btn-details,
.search-banner-forum {
	float: left;
}

.main-header-search-menu {
	margin-top: 10px;
}

.search-banner {
	width: 450px;
	margin-top: 12px;
}

.main-header-title {
	width: 20%;
}

.main-header-menu {
	width: 43%;
	text-align: right;
}

.main-header-menu ul li {
	list-style-type: none;
	margin: 0;
	padding-right: 25px;
	display: inline-table;
}

.main-header-menu a {
	text-transform: capitalize;
}

main {
	margin: 0 auto;
	width: 58%;
}

.section-title {
	margin-top: 0;
	color: #7b097d;
}

/*

	Add Contacts

*/

.contact-details {
	border-right: 1px solid #7b097d;
	border-left: 1px solid #7b097d;
	border-bottom: 1px solid #7b097d;
	margin: 0 7% 25px 0;
	padding-bottom: 15px;
	float: left;
}

.contact-details header {
	background-color: #7b097d;
	color: #FFF;
	padding: 10px 15px;
	margin-bottom: 10px;
}

.contact-note {
	padding: 0 15px;
}