body {
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
}

/*

	Layout

*/

.main-header-fooder {
	padding: 0 15px;
	background-color: #7b097d;
	color: #FFF;
}

.main-footer {
	padding: 25px 15px;
}

.main-header-title,
.main-header-menu {
	float: left;
}

.main-header-title {
	width: 20%;
}

.main-header-menu {
	margin-top: 10px;
	width: 80%;
	text-align: right;
}

.main-header-menu ul li {
	list-style-type: none;
	margin: 0;
	padding-right: 25px;
	display: inline-table;
}

.main-header-menu a {
	color: #FFF;
	text-decoration: none;
}

.main-header-menu a:hover {
	color: #dadde1;
	text-decoration: underline;
}

